/* THE HIVE PREMIUM THEME */

body {
    background: #fafafa !important;
}

.block-container {
    padding-top: 2rem;
}

h1, h2, h3, h4 {
    font-weight: 700;
    color: #E37B22 !important; /* Orange The Hive */
}

.kpi-card {
    padding: 20px;
    background: white;
    border-radius: 14px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
    margin-bottom: 10px;
}

.big-kpi {
    font-size: 32px;
    font-weight: 800;
}
